<html>

<!-- Titles start -->
{% extends 'layout.html' %}

{% block title %}Hjemmeside{% endblock %}  

{% block content %}

<div class="pagetitle">
Hjemmeside
</div>

<div class="title">
Velkommen til Shokjøp!
</div>
    
<!-- Titles end -->

<!-- Content start -->


<div class="productinfo">
    <div class="productitem">
        <a href="xboxkontroller.html"><img id="xboxcontroller" src="/static/img/xboxkontroller.jpg" alt="xbox controller"></a>
        <p>Xbox Series X Kontroller</p>
        <p>Kr. 799</p>
        <div class="cartbutton">
            <a href="handlekurv.html">Legg til handlekurv</a>
             </div>
             <div class="Information">
        <a href="xboxkontroller.html">Mer informasjon</a>
    </div>
    </div>
    <div class="productitem">
        <a href="ps5kontroller.html"><img id="ps5controller" src="/static/img/ps5kontroller.jpg" alt="ps5 controller"></a>
        <p>Playstation 5 Kontroller</p>
        <p>Kr. 799</p>
        <div class="cartbutton">
            <a href="handlekurv.html">Legg til handlekurv</a>
             </div>
             <div class="Information">
        <a href="ps5kontroller.html">Mer informasjon</a>
    </div>
    </div>
    <div class="productitem">
        <a href="ps4kontroller.html"><img id="ps4controller" src="/static/img/ps4kontroller.jpg" alt="ps4 controller"></a>
        <p>Playstation 4 Kontroller</p>
        <p>Kr. 499</p>
        <div class="cartbutton">
            <a href="handlekurv.html">Legg til handlekurv</a>
             </div>
             <div class="Information">
        <a href="ps4kontroller.html">Mer informasjon</a>
    </div>
    </div>

        <div class="productitem">
            <a href="60keyboard.html"><img id="blackkeyboard" src="/static/img/60keyboard.jpg" alt="60 Keyboard"></a>
            <p>Aeon 60 Prosent Keyboard</p>
            <p>Kr. 599</p>
            <div class="cartbutton">
                <a href="handlekurv.html">Legg til handlekurv</a>
                 </div>
                 <div class="Information">
            <a href="60keyboard.html">Mer informasjon</a>
        </div>
        </div>
        <div class="productitem">
            <a href="razerkeyboard.html"><img id="razerkeyboard" src="/static/img/razerkeyboard.jpg" alt="White Razer Keyboard"></a>
            <p>Hvit Razer Keyboard</p>
            <p>Kr. 799</p>
            <div class="cartbutton">
                <a href="handlekurv.html">Legg til handlekurv</a>
                 </div>
                 <div class="Information">
            <a href="razerkeyboard.html">Mer informasjon</a>
        </div>
        </div>
        <div class="productitem">
            <a href="tklkeyboard.html"><img id="tklkeyboard" src="/static/img/gamingkeyboard.jpg" alt="TKL Keyboard"></a>
            <p>Gaming TKL Keyboard</p>
            <p>Kr. 699</p>
            <div class="cartbutton">
            <a href="handlekurv.html">Legg til handlekurv</a>
             </div>
             <div class="Information">
            <a href="tklkeyboard.html">Mer informasjon</a>
        </div>
        </div>
    </div>
</div>
    

<!-- Content end -->


</body>



<footer>
   Shokjøp © <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git"><img src="/static/img/githublogo.png" alt="github logo"></a>
</footer>
{% endblock %}

<script src="/static/script.js"></script>
</html>