<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>



    {% extends 'layout_loggedin.html' %}

    {% block title %}Login{% endblock %}  
    
    {% block content %}

<!-- Titles start -->
<body>

<div class="pagetitle">
Login
</div>

<div class="title">
Log in
</div>
    
<!-- Titles end -->


<body>
<!-- Content start -->

<form action="{{ url_for('login') }}" method="post">

<div class="account">
    <div class="accounttexts">E-post:</div>
    <input type="text" name="email" class="accountbar" placeholder="..." id="email" required>
    </div>

    <div class="account">
        <div class="accounttexts">Passord:</div>
        <input type="password" name="password" class="accountbar"  placeholder="..." id="password" required>
        </div>

<div class="msg">{{ msg }}</div>


<div class="LoginAndRegister">
<a href="/login/register">Register</a>  
<input id="login" type="submit" value="Login">
</div>

</form>

<!-- Content end -->
</body>

<footer>
    Shokjøp © <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git"><img src="/static/img/githublogo.png" alt="github logo"></a>
</footer>


{% endblock %}
<script src="/static/script.js"></script>
</html>