<html>


{% extends 'layout_loggedin.html' %}

{% block title %}Konto{% endblock %}  

{% block content %}

<body>
    
<!-- Titles start -->

<div class="pagetitle">
Konto
</div>

<div class="title">
Din konto
</div>
    
<!-- Titles end -->
<div>
    <p>Her er konto detaljene dine</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['name'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>******</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
 
<div class="LoginAndRegister">
    <a href="/login/logout">Logg ut</a>
</div>
 

<footer>
    Shokjøp © <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git"><img src="/static/img/githublogo.png" alt="github logo"></a>
</footer>


</body>
{% endblock %}

</html>