<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>


{% extends 'layout_loggedin.html' %}

{% block title %}Registrering{% endblock %}  

{% block content %}

<body>


<!-- Titles start -->

<div class="pagetitle">
    Registrer deg nå!
    </div>
    
    <div class="title">
    Velkommen til Shokjøp!
    </div>
        
<!-- Titles end -->
 <body>
    
 
<form action="{{ url_for('register') }}" method="POST" autocomplete="off">
<div class="account">
    <div class="accounttexts">Navn:</div>
    <input type="text" name="name" class="accountbar" placeholder="..." id="name">
    </div>

<div class="account">
    <div class="accounttexts">E-post:</div>
    <input type="text" name="email" class="accountbar" placeholder="..." id="email">
    </div>

<div class="account">
    <div class="accounttexts">Passord:</div>
    <input type="password" name="password" class="accountbar" placeholder="..." id="password">
    </div>

<div class="LoginAndRegister">
    <input id="login" type="submit" value="Register">  
</div>

<div class="msg">{{ msg }}</div>
    
</form>

</body>
<footer>
    Shokjøp © <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git"><img src="/static/img/githublogo.png" alt="github logo"></a>
 </footer>
 
 {% endblock %}
 <script src="/static/script.js"></script>
 </html>
    